.widgets li a {
color: #f44336;
padding: 0 10px;
}

.text-right { text-align: right; }

.panel-bkg { background: #ffffff; box-shadow: 0 3px 7px 2px #999999; margin-bottom: 10px; }
.panel-title { background: #cacdd4; color: #7e8c93; font-size:18px; text-align: center; }
.panel-content { background: #ffffff; color: #7e8c93; font-size:18px; padding: 15px; }


/*  Vertical Tab styling */

.tabs-left > .nav-tabs { border-radius: 0; min-width: 180px; }
.tabs-left > .nav-tabs > li { border-bottom: 1px solid #acacac; }

.tabbable {
background: #ffffff;
font-size: 18px;
height: 225px;
}

.nav-tabs { background-color: #4c5060; font-size: 18px; height: 225px; }
.nav-tabs > li { padding: .5em 1em; }
.nav-tabs li a { color: #ffffff; border-radius: 0; }
.nav-tabs .nav-link { border: none; padding: 0.5em 1em; border-radius: 0; }
.nav-tabs .nav-link.active { background-color: #cacdd4; border-radius: 0; }

.tab-content { height: 225px; }

/* Form elements */
.col-form-label {
    padding-top: calc(.5rem - 1px * 2);
    padding-bottom: calc(.5rem - 1px * 2);
	margin-bottom: 0;
}

/* Space between rows */
.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

/****** styles for Order Summary Screens ******/

.text-summary {
 color: #8dabc4;
 font-size: 12px;
 list-style:none;
 margin-bottom: 0px;
 padding: 0px;
 margin-top: 5px;
}
.text-summary li {
 float:left;
 width: 220px;
}
.text-summary li a {
 color: #8CA8C4;
 display:block;
 padding: 10px;
 text-decoration:none;
 border-left: 1px solid #ebebeb;
 border-right: 1px solid #ebebeb;
 background-color: #FAFBFC;
}

/****** styles for Order Summary Screens ******/

.bkg-lt-gray { background: #F8F8F8; }
.bkg-md-gray { background: #a0a0a0; }
.bkg-qty-green { background: #4ECE3D; }
.bkg-qty-red { background: #E40613; }
.bkg-qty-yellow { background: #FACA00; }

.border-green { border: 1px solid #4ECE3D; }

.carrier-container {
border-left: 1px solid #b7d2e5;
border-right: 1px solid #b7d2e5;
margin: 0 10px 25px 1px;
padding: 0 12px;
}
.carrier-row {
font-size: 13px;
padding: 25px 10px
}
.carrier-row__selected {
	background: #5e5e5e;
	color: #fff;
}
.carrier-row__selected h3 { font-size: 24px; }

.carrier-row__border-bot { border-bottom: 1px solid#ccc; }
.carrier-row__border-top { border-top: 1px solid #ccc; }

.carrier-row__notselected { color: #8b8585; }
.carrier-row__notselected h3 { color: #8b8585; font-size: 24px; }

.carrier-summary__top-container {
 border-left: 1px solid #b7d2e5;
 border-top: 1px solid #b7d2e5;
 border-right: 1px solid #b7d2e5;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 padding: 20px 30px 15px 30px;
}

.carrier-summary__top-container .list-inline { margin-bottom: 3px; }

.carrier-summary__quantity {
    border-radius: 19px;
	color: #fff;
	font-size: 12px;
    display: block;
    height: 20px;
    text-align: center;
    width: 35px;
}

.carrier-summary__bottom-container {
	border: 1px solid #b7d2e5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 40px;
	background: #fafbfc;
}

.carrier-logo {
 border-radius: 18px;
 display: block;
 height: 60px;
 width: 60px;
}
.carrier-logo__buds {
 background: url(../img/logo-carrier-buds.png) 0 0 no-repeat; /* 50% 50% centers image in div */
}
.carrier-logo__fef {
 background: url(../img/logo-carrier-fef.png) 0 0 no-repeat; /* 50% 50% centers image in div */
}
.carrier-logo__jj {
 background: url(../img/logo-carrier-jj.png) 0 0 no-repeat; /* 50% 50% centers image in div */
}

.carrier-tracking__panel {
background: #ecf5fd;
border: 1px solid;
padding: 20px 10px 30px 10px;
}

.carrier-tracking__panel.dimmed {
border: 1px solid #ccc;
color: #ccc;
filter: grayscale(80%);
}

.dimmed h5, .dimmed img, .dimmed .fa-pencil { filter: grayscale(100%); opacity: .5;}



/*  Tab styling for Order Detail screens */
.tablist {
	border-bottom: 1px solid #ebebeb;
	list-style: none;
	height: 41px;
	padding-left: 20px;
	margin-left: -20px;
	margin-bottom: 30px;
	margin-right: -20px;
}
.tablist li {
 float:left;
 font-size: 13px;
}
.tablist li a {
 color: #8CA8C4;
 display:block;
 padding: 10px 20px;
 text-decoration:none;
 border-left: 1px solid #ebebeb;
 border-right: 1px solid #ebebeb;
 background-color: #FAFBFC;
}

.tablist li a:hover {
 background:#ECF5FD;
 color: #0090EC;
 text-decoration:none;
}
.tablist li#current a {
 background-color: #ecf5fd;
 color: #0090EC;
 font-weight: bold;
}
.tablist li#current a:hover {
 background: #ECF5FD;
}


