<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="Logs" />
      </logger>
    </ipp>
  </intuit>
 <appSettings>
    <!--Enter the values below. -->
    <!--qyprd3v8NFl7W89u9z1rvgIsxSu6zo-->
    <add key="AccessToken" value="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..LsOD5JnBmVfiuAcJTFka1g.wJ8zcjce6t19qe_MRb0b6_-rLRwnVaCUnNNDjcrs6Cgzne6MW3hgAdiA61NPmmKi9t_rPjNL4HZICRmV3sk0cItIY_9-TtnKJ-tWJ3LJxBFPixJ75TXE3Oasik0XExYq4XzsimlRyvV9h_5ZtBfiglTfGtmdd67qPEqj0dgi-6CPjjkbun9CITyLQStKc7YO1aML__JN5ldtVcwzeVKsuS-02-9wjf3Yl_4vqOabz5Fwpcrhmnio7Zdew93zDujIodkAfFX74H29-fONlbjl93Dx4LSoQlnHWmdIPiL1wOfV44RRbxEcN9-S-K4omqR5a_SQ5sfb6LBHNTWM2W5GkxSgfQ6P28vTtno2qQwCa4Ui1KpGUVseovneSgzuYUivNDcIPD1kNSzrdZ1hsoKFuigtHH9Jez8mGyc0kGVL-YQUTQZPKL5nBsdChCyMs7k6QCDVFju05QTzHuubpF65XZbh0fGFrl4yRxXJcbKxNWFu7hHNHpD2p3n8WhNMy7go6kkHXG9vXmIQij6FNq81evIoKlpg1sPfY-xYUDApoe4gyKnHMBVdU1MCvc-bwYZ6kMBhXa_VJRVfWHSOtQdQqGYrxXJ1auR-tgebOMzFOGC-D9Oka9i52LPIEP8E6pDfx-sMAxNWlgTAf8b8ETpRbNy3ntcAfQfsgrHJEf4g02v7VyubzlyzyzpRhbpGWnZT.XWbi2_J-H4CSf8G7Mdf2YQ" />
    <add key="AccessTokenSecret" value="t5SyVjHgT1UVMQu22Wl05HACZ4T8Wmgeorfqba2h" />
    <add key="ConsumerKey" value="Q0bCkjuFuWa8MxjEDqYenaCreMUZjyAJ2UyNhnOmdVGEDNkkkD" />
    <add key="ConsumerSecret" value="ahfR70aIvIatES37ZeoJztAJx7Ki1PvoGhfNVTja" />
    <add key="RealmID" value="123145985783569" />
  </appSettings>
</configuration>