<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="Logs" />
      </logger>
    </ipp>
  </intuit>
 <appSettings>
    <!--Enter the values below. -->
    <add key="AccessToken" value="lvprdtJpPSSrK5QJ012FjKmdzakSToingNrhsfGuea8QC8vY" />
    <add key="AccessTokenSecret" value="JtiFVrlT9DlAuOhkdEZitxkVMk29B4w7hgR96VuQ" />
    <add key="ConsumerKey" value="qyprd3v8NFl7W89u9z1rvgIsxSu6zo" />
    <add key="ConsumerSecret" value="NQzoaHCCRB3vXqTzYZ4GYE2OTtPFbP5lh3zhxYMb" />
    <add key="RealmID" value="123145766093222" />
  </appSettings>
</configuration>