<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/v3/"/>
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprdBEjbHRQ385zcxsONA3kFLRYjhvaaj6Jh8yUg6L5ntoI" />
    <add key="AccessTokenSecret" value="BKOKIqK2yL2ixHoBXUDylb1S3cSjojPH4VndDMn1" />
    <add key="ConsumerKey" value="qyprdhtIFrV109VHku2kVAv9B02K6u" />
    <add key="ConsumerSecret" value="PqofHTPE6GT65EqaX0nPQwGVghmv3C4RZQZfeIeX" />
    <add key="RealmID" value="123145809324582" />
  </appSettings>
</configuration>